body
{
	background-color: pink;
	font-family: arial;
	font-size: 25px;


}
.titre
{
	background-color: red;
	height: 300 px;
	width: 400 px;
	margin: auto;
	color: yellow;

}
.b2
{
	background-color: red;
	height: 400px;
	width: 400px;
	margin-bottom: 20px;
	color: yellow;
}
.b3
{
	background-color: red;
	height: 400px;
	width: 400px;
	color: yellow;
}

